mat-toolbar {
	color: primary;
	background: #D8BFD8;
}

.list-container {
  margin: auto;
  padding-top: 32px;
  width: 80%;
}

table {
	border: 1px solid grey;
}

.example-spacer {
  flex: 1 1 auto;
}
